<%- layout('layouts/main.ejs') %>
    <div class="top_container" class="col-lg-2 col-sm-2 text-center">     
        <ul>
            <li><a href="#" class="T-shirts"><i class="fas fa-tshirt"> T-Shirts</i></a></li>
            <li><a href="#" class="Footwear"><i class="fas fa-shoe-prints"> Footwear</i></a></li>
            <li><a href="#" class="Backpacks"><i class="fas fa-hiking"> Backpacks</i></a></li>
            <li><a href="https://marcasonlinestore.hubspotpagebuilder.com/marcas-online" 
                target="blank" class="landing"><i class="fas fa-paper-plane"> Blog</i></a></li>
        </ul>   
    </div>  
 <hr style="height:2px;border:none;color:#333;background-color:#333;" />
 <div class="container">
        <div class="slider">
            <ul>
                <li><img style="width: 100%;"src="/img/alina-vilchenko.jpg" alt="alina"></li>
                <li><img style="width: 100%;"src="/img/jonas-androx.jpg" alt="jonas"></li>
                <li><img style="width: 100%;"src="/img/juan-mendez.jpg" alt="juan"></li>
                <li><img style="width: 100%;"src="/img/tubarones-photography.jpg" alt="tubarones"></li>
            </ul>
        </div>
        <div id="contenedor_principal">
            <!--Primera Imagen-->
            <div class="contenedor_imagen_texto">
                <li>
                    <img src="img/caMarcas13.jpg">
                    <div class="caption">
				    	<div class="blur"></div>
				    	<div class="caption-text">
				    		<h1>T-Shirts</h1>
				    		<p>Whatever It Is - Always Awesome</p>
				    	</div>
				    </div>
                </li>
            </div>
            
            <!--Segunda Imagen-->
            <div class="contenedor_imagen_texto">
                <li>
                    <img src="img/tenMarcas1.jpg">
                    <div class="caption">
				    	<div class="blur"></div>
				    	<div class="caption-text">
				    		<h1>Footwear</h1>
				    		<p>Whatever It Is - Always Awesome</p>
				    	</div>
				    </div>
                </li>
            </div>
            
            <!--tercera Imagen-->
            <div class="contenedor_imagen_texto">
                <li>
                    <img src="img/morMarcas2.jpg">
                    <div class="caption">
				    	<div class="blur"></div>
				    	<div class="caption-text">
				    		<h1>Backpacks</h1>
				    		<p>Whatever It Is - Always Awesome</p>
				    	</div>
				    </div>
                </li>
            </div>
        </div>
        <div class="redes_container">
            <ul>
                <li><a href="https://www.facebook.com/marcasdm" target="blank" class="facebook">
                    <i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/marcasdm2016/?hl=es-la" target="blank" 
                    class="instagram"><i class="fab fa-instagram"></i></a></li>                
            </ul>
            <FONT FACE="arial" SIZE=3>Contact us on social networks</FONT>
        </div>        
 </div>
